<html >
    <head>
        <link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
        <link rel="stylesheet" type="text/css"  href="/stylesheets/app.css">
        <link rel="icon"       type="image/png" href="/images/favicon.ico">
        <title>B2Better</title>
    </head>
    
    <body>
        
    <div class="ui grid">
    
    <div class="sixteen wide column">
        <div class="ui inverted teal menu">
          <div class="right menu">
             <% if(!currentUser) { %>
                  <a href='/register' class="ui item">Sign Up</a>
                  <a href='/login'    class="ui item">Login</a>
             <% } else { %>
                  <a class='ui item'>Logged in as <%=currentUser.username%></a>
                  <a href='/logout'   class="ui item">Logout</a>
             <% } %>
            
            
          </div>
        </div>
    </div> 
    
    
  
  <div class="three wide column">
    <div class="ui left fixed vertical menu teal inverted">
        <div class="header item"><a href='/'>B2Better</a></div>
        <%  for(var cat in allCats) { %>
            <div class="item">
                    <a class='header' href="/<%= cat %>" ><%= cat %></a>
                    <div class="menu">
                    <ul>
                        <% for(var subCat in cat) { %>
                            <% if(typeof allCats[cat][subCat] !== 'undefined') { %>
                                <li><a class="item" href="/<%= cat %>/<%= allCats[cat][subCat] %>" ><%= allCats[cat][subCat] %></a></li>
                            <% } %>
                        <% } %>
                    </ul>
                    </div>
            </div>
        <% } %>
        <a class="item">About Us</a>
    </div>
    </div>
    <div class="three wide column mobile only"></div>
    <div class="ten wide column center aligned">
      

          
    
        
        
        
