<% include ./partials/header.ejs %>

<div class='table-container'>
    <h1 class='cart-title'>Your Cart</h1>
    <table class='ui unstackable table'>
    <% var items = cart.items %>
    <thead>
        <tr class='cart-header-row'>
            <th class="nine wide">Item</th>
            <th class="two wide">Qty</th>
            <th class="two wide">Price</th>
            <th class="one wide"></th>
            <th class="one wide"></th>
            <th class="one wide"></th>
        </tr>
    </thead>
    <% for(var item in items) { %>
        <tr class='table-row'>
            <td><%=items[item].item.name%></td>
            <td><%=items[item].qty%></td>
            <td>$<%=items[item].price%></td>
             <td>
                <form action='/cart/<%=item%>/decrease?_method=PUT' method='POST'>
                    <button type='submit' class='cart-button'><i class="minus icon cart-icon"></i></button>
                </form>
            </td>
             <td>
                <form action='/cart/<%=item%>/increase?_method=PUT' method='POST'>
                    <button type='submit' class='cart-button'><i class="plus icon cart-icon"></i></button>
                </form>
            </td>
            <td>
                <form action='/cart/<%=item%>?_method=DELETE' method='POST'>
                    <button type='submit' class='cart-button'><i class="trash alternate outline icon cart-icon"></i></button>
                </form>
            </td>
        </tr>
    <% } %>
    <tfoot>
        <tr class="footer-row">
            <th><strong>Total:</strong></th>
            <th></th>
            <th><strong>$<%=cart.totalPrice%></strong></th>
            <th></th>
            <th></th>
            <th></th>
      </tr>
    </tfoot>
</div>



<% include ./partials/footer.ejs %>

