<% include ./partials/header.ejs %>


    <!--<div class="ui large breadcrumb">-->
    <!--  <a class="section">Home</a>-->
    <!--  <div class="divider"> / </div>-->
    <!--  <a class="section"><%=category%></a>-->

    <!--</div>-->
    
    <h1 class='center aligned ui header'><%= category %></h1>
    
    <hr>
    
    <div class="ui equal width stackable center aligned grid">
        <% subCats.forEach(function(subCat) { %>
            <div class="column">
                <a href='/<%=category%>/<%= subCat.name %>'><h2 class='inline subCat-header'><%= subCat.name %></h2></a>
            </div>
        <% }) %>
    </div>

    <!--<img class='ui image center aligned' src='https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/864ee4b5-4ad2-4ea2-88af-4796493dc806/hr-wojciech-slowacki-01.jpg'>-->

    <hr class='hr2'>
    
    <div class="ui stackable three column center aligned grid">
        <% products.forEach(function(product){ %>
            <div class="column">
                <div class="ui card">
                      <div class='image'>
                          <img src='/images/present.jpg'>
                      </div>
                      <div class="content">
                         <div class="header"><a class='product-header' 
                                                href='/<%=product.category.name%>/<%=product.sub_category.name%>/<%=product._id%>'>
                                                <%= product.name %></a>
                         </div>
                      </div>
                      <div class='content'>
                          <div class='summary'><%= product.description %></div>
                          <label class='ui tag label teal tiny'>$<%= product.price %></label>
                      </div>
                </div>
            </div>
        <% }) %>
    </div>
    
    

<% include ./partials/footer.ejs %>