<% include ./partials/header.ejs %>
    
    <h1 class='title-format'><%= category %></h1>
    <div class="ui equal width grid">
        <% subCats.forEach(function(subCat) { %>
            <div class="column">
                <a href='<%=category%>/<%= subCat.name %>'><h2 class='inline'><%= subCat.name %></h2></a>
            </div>
        <% }) %>
    </div>

    <div class="ui three column grid">
        <% products.forEach(function(product){ %>
            <div class="column">
                <div class="ui card">
                      <div class="content">
                         <div class="header"><a><%= product.name %></a></div>
                      </div>
                      <div class="content">$<%= product.price %></div>
                      <div class='summary'><%= product.description %></div>
                </div>
            </div>
        <% }) %>
    </div>
    
    

<% include ./partials/footer.ejs %>