<% include ./partials/header.ejs %>

    <!--<div class="ui large breadcrumb">-->
    <!--  <a class="section">Home</a>-->
    <!--  <div class="divider"> / </div>-->
    <!--  <a class="section"><%=category%></a>-->
    <!--  <div class="divider"> / </div>-->
    <!--  <div class="active section"><%=sub_category%></div>-->
    <!--</div>-->
    
    <h2 class='subCat-header'><%=sub_category%></h2>
    <hr>

<div class="ui stackable three column center aligned grid">
        <% products.forEach(function(product){ %>
            <div class="column">
                <div class="ui card">
                      <div class='image'>
                          <img src='/images/present.jpg'>
                      </div>
                      <div class="content">
                         <div class="header">
                             <a class='product-header' 
                                href='/<%=product.category.name%>/<%=product.sub_category.name%>/<%=product._id%>'>
                                <%=product.name %></a>
                         </div>
                      </div>
                      <div class='content'>
                          <div class='summary'><%= product.description %></div>
                          <label class='ui tag label teal tiny'>$<%= product.price %></label>
                      </div>
                </div>
            </div>
        <% }) %>
    </div>

<% include ./partials/footer.ejs %>