<% include ./partials/header.ejs %>

<div class="ui stackable three column center aligned grid">
        <% products.forEach(function(product){ %>
            <div class="column">
                <div class="ui card">
                      <div class="content">
                         <div class="header">
                             <a class='product-header' 
                                href='/<%=product.category.name%>/<%=product.sub_category.name%>/<%=product._id%>'>
                                <%=product.name %></a>
                         </div>
                      </div>
                      <div class="content">$<%= product.price %></div>
                      <div class='summary'><%= product.description %></div>
                </div>
            </div>
        <% }) %>
    </div>

<% include ./partials/footer.ejs %>