<% include ../partials/header.ejs %>

<h1 class='ui header centered'>Edit sub-category</h1>

<div class='ui segments'>
    <div class='ui segment'>
        <form class='ui form' action='/<%= category %>/<%= sub_category %>?_method=PUT' method='POST'>
            <div class='required field'>
                <label>Change sub-category <%= sub_category %> to:</label>
                <input type='text' name='sub_category' required>
            </div>
            <button class='ui button tiny teal' type='submit'>Submit</button>
        </form>
    </div>
    <div class='ui segment'>
        <form class='ui form' action='/<%=category%>/<%=sub_category%>?_method=DELETE' method='POST'>
            <div class='field'>
                <label>Delete sub-ategory</label>
                <button class='ui button danger red tiny' type='submit'>DELETE</button>
            </div>
        </form>
    </div>
</div>



<% include ../partials/footer.ejs %>