<% include ../partials/header.ejs %>

<h1>Welcome to the edit sub-category page!!!</h1>

<form action='/<%= category %>/<%= sub_category %>?_method=PUT' method='POST'>
    <label>Change sub-category <%= sub_category %> to:</label>
    <input type='text' name='sub_category'>
    <button type='submit'>Submit</button>
</form>
<h1>OR</h1>
<h3>Delete it</h3>
<form action='/<%=category%>/<%=sub_category%>?_method=DELETE' method='POST'>
    <button type='submit'>DELETE</button>
</form>

<% include ../partials/footer.ejs %>